body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}


.button.is-dark {
  color: white !important;
  background-color: #363636 !important;
  border-color: #363636 !important;
}


.button.is-dark:hover {
  background-color: #272727 !important;
  border-color: #272727 !important;
  color: white !important;
}


.teaser {
  font-family: 'Roboto', sans-serif;
}


.title-container {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}


.main-title {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 1.2;
  word-wrap: break-word;
}


.publication-title {
    font-family: 'Roboto', sans-serif;
}

.publication-authors {
  font-family: 'Roboto', sans-serif;
}

.section-title {
    font-family: 'Roboto', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: hsl(35, 74%, 36%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
